pkg
*.swp
.bundle/

# SWIG Files
swig/Makefile
swig/autom4te.cache/
swig/config.log
swig/config.status
swig/configure
swig/rglpk.c

# ext Files
ext/Makefile
ext/conftest.dSYM/
ext/mkmf.log
ext/glpk_wrapper.bundle
ext/glpk_wrapper.o
ext/glpk_wrapper.so

# Test Files
test.lp
